
body{
    margin: 0;
    background-color:rgb(235, 235, 253);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#head{
    padding-bottom: 700px;
    padding-left: 100px;
    text-align: center;
}
div{
    background-color:  aliceblue ;
    height: auto;
    width: 600px;
    margin: 30px;
    border-radius: 5px;
    padding-left: 50px;
    padding-bottom: 10px;
    padding-right: 200px;
    padding-top: 30px;
    text-align: center;
}

#text{
    padding: 20px;
    width: 250px;
    margin-top: 10px;
    border-radius: 5px;
    border-color: rgb(243, 240, 240);
}
#address{
    margin-top: 10px;
    width: 585px;
    height: 75px;
}
#type{
  
    text-align:left;
    
}
#save{
    background-color: orangered;
    color: white;
    margin-top: 25px;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
}

#cancel{
    background-color: aliceblue;        
    border: none;
    color: rgb(86, 86, 169);
    margin-top: 25px;
    font-weight: bold;
    padding-left: 50px;
    padding-bottom: 20px;
}
.atype{
    
    display: inline;
    padding-right: 150px;
}