div{
    text-align: center;
}

input{
    padding: 20px;
    width: 250px;
    height: 00px;
    margin-top: 10px;
}
#address{
    margin-top: 10px;
    width: 585px;
    height: 75px;
}
#type{
    
}
